// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...
}
/* Sass mixins: */

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {
  ...
}

@include media-breakpoint-up(md) {
  ...
}

@include media-breakpoint-up(lg) {
  ...
}

@include media-breakpoint-up(xl) {
  ...
}

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.custom-class {
  display: none;
}

@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  ...
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  ...
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  ...
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  ...
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width


@include media-breakpoint-down(xs) {
  ...
}

@include media-breakpoint-down(sm) {
  ...
}

@include media-breakpoint-down(md) {
  ...
}

@include media-breakpoint-down(lg) {
  ...
}

// No media query necessary for xl breakpoint as it has no upper bound on its width
// Example: Style from medium breakpoint and down
@include media-breakpoint-down(md) {
  .custom-class {
    display: block;
  }



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  ...
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...
}



@include media-breakpoint-only(xs) {
  ...
}

@include media-breakpoint-only(sm) {
  ...
}

@include media-breakpoint-only(md) {
  ...
}

@include media-breakpoint-only(lg) {
  ...
}

@include media-breakpoint-only(xl) {
  ...
}